{% extends "layout.html" %}
{% block title %}Konkurranser{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="px-5 py-5">
<div><h2>Konkurranser</h2></div>
{% if active_contests == None and not_active_contests == None %}
<p class="card-text">Ingen konkurranser</p>
{% else %}
{% if active_contests%}
{% for contest in active_contests %}
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">{{ contest.name }}</h5>
            <p class="card-text">Tidsfrist: {{ contest.deadline_date }} klokken: 23:59</p>
          </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="{{ url_for('participate_contest', start=1, contestId=contest.id) }}" class="btn btn-primary" style="background-color:green">Start</a>
                </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if not_active_contests%}
    {% for contest in not_active_contests %}
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">{{ contest.name }}</h5>
            <p class="card-text">Tidsfrist: {{ contest.deadline_date }} klokken: 23:59</p>
          </div>
                <div class="col-4 d-flex justify-content-end">
                    <p>Fullført</p>
                </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}

    <div class="mt-2 d-flex justify-content-left">
      <a href="{{ url_for('admin_group') }}" class="btn btn-primary mr-2">Tilbake</a>
  </div>
  </div>
</div>
  
  
{% endblock %}
</div>