{% extends 'layout.html' %}

{% block title %} Endre rolle {% endblock %}

{% block content %}
    <div class="container py-4">
        <h1 class="text-center mb-4">Endre rolle</h1>
        <thead>
        <tr class="table-success">
            <h3 scope="col">Bruker</h3>

        </tr>
        </thead>
    </div>

    <div class="col">
        <table class="table table-bordered table-striped mb-0">
            <tbody>
            <tr class="table-light">
                <form class="search-form" method="POST" action="{{ url_for('change_role') }}">
                    {{ form.csrf_token }}
                    <td> {{ form.search(class="form-control", placeholder="Søk etter bruker") }} </td>
                    <td> {{ form.submit(class="button-control") }} </td>
                </form>
                <form class="role-form" method="POST" action="{{ url_for('change_role') }}">
                    {{ role_form.csrf_token }}
                    <td>{{ role_form.user(class="form-control") }}</td>
                    <td>{{ role_form.role(class="form-control") }}</td>
                    <td>{{ role_form.submit(class="button-control") }}</td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

