{% extends "layout.html" %}
{% block title %}Learn{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="px-5 py-5">
<div><h2>Lær</h2></div>
<div class="mx-3">
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Bronse</h5>
            <p class="card-text">Svar 80% riktig for å oppnå bronse og gå videre til neste nivå.</p>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <a href="{{ url_for('course') }}" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Sølv</h5>
            <p class="card-text">Du må oppnå bronse for å gå videre til sølv.</p>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Låst</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Gull</h5>
            <p class="card-text">Du må oppnå sølv for å gå videre til gull.</p>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-primary">Låst</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
{% endblock %}
