{% extends "layout.html" %}
{% block title %}Learn{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="px-5 py-5">
<div><h2>Språkkurs</h2></div>
<div class="mx-3">
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Bronse</h5>
            {% if session['level'] == 1 %}
             <p class="card-text">Svar 80% riktig for å fullføre bronse og gå videre til neste nivå.</p>
             {% elif session['level'] > 1 %}
             <p class="card-text">Bra jobbet, du har fullført bronse! 🤩 </p>
             {% else %}
             <p class="card-text">Svar 80% riktig for å fullføre bronse og gå videre til neste nivå.</p>
             {% endif %}

            </div>
             {% if session['level'] == 1 %}
            <div class="col-4 d-flex justify-content-end">
              <a href="{{ url_for('course', level=1) }}" class="btn btn-primary" style="background-color:green">Start</a>
            </div>
            {% else %}
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-secondary" disabled>Ferdig</button>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Sølv</h5>
            {% if session['level'] == 2 %}
            <p class="card-text">Du må fullføre bronse for å gå videre til sølv.</p>
            {% elif session['level'] > 2 %}
            <p class="card-text">Bra jobbet, du har fullført sølv! 🤩 </p>
            {% else %}
            <p class="card-text">Du må fullføre bronse for å gå videre til sølv.</p>
            {% endif %}

          </div>
             {% if session['level'] == 2 %}
            <div class="col-4 d-flex justify-content-end">
              <a href="{{ url_for('course', level=2) }}" class="btn btn-primary" style="background-color:green">Start</a>
            </div>
            {% elif session['level'] < 2 %}
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-primary" style="background-color:red" disabled>Låst</button>
            </div>
            {% else %}
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-secondary" disabled>Ferdig</button>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Gull</h5>
            {% if gold_level_completed %}
            <p class="card-text">Bra jobbet, du har fullført gull! 🤩 </p>
            {% else %}
            <p class="card-text">Du må fullføre sølv for å gå videre til gull.</p>
            {% endif %}

          </div>
             {% if session['level'] == 3 %}
            <div class="col-4 d-flex justify-content-end">
              <a href="{{ url_for('course', level=3) }}" class="btn btn-primary" style="background-color:green">Start</a>
            </div>
            {% elif session['level'] < 3 %}
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-primary" disabled style="background-color:red">Låst</button>
            </div>
            {% else %}
            <div class="col-4 d-flex justify-content-end">
              <button type="button" class="btn btn-secondary" disabled>Ferdig</button>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
  
  
{% endblock %}
</div>