<!doctype html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <title>{% block title %} Logg inn {% endblock %}</title>
  {% endblock %}
</head>
<body>
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}


<div class="container register-page">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="text-center">
            <h1 class="mb-3">Log in</h1>
            <p> Please log in</p>
            </div>

            <form action="{{url_for('login')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{form.hidden_tag()}}
                {{form.email.label}}<br>
                {{form.email(class_="wt") }}
                <br>
                <br>
                {{form.password.label}}<br>
                {{form.password(class_="wt") }}
                <br>
                <br>
                <div class="button-place">
                {{form.login(class_="submit-form")}}
                </div>
            </form>

            <form action="{{url_for('forgetpassword')}}" method="GET">
                <a href="/forgetpassword"><div class="submit-form">Forget password?</div></a>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var items = document.querySelectorAll('.list-group-item');
        items.forEach(function(item) {
          item.addEventListener('click', function() {
            items.forEach(function(item) {
              item.classList.remove('active');
            });
            this.classList.add('active');
          });
        });
      });
    </script>
    
    
    
    
    
</body>


</html>