<!doctype html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <title>{% block title %} Registrer {% endblock %}</title>
  {% endblock %}
</head>
<body>
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="container register-page">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="text-center">
            <h1 class="mb-3">Create an account</h1>
            <p> We are so happy that you want to join us!!</p>
            </div>

          <form class="forms docform" method="POST">
            {{ form.csrf_token }}
            {{ form.firstname.label(class="text-control") }} <br>
            {{ form.firstname(class="form-input", placeholder="First name") }}
            <br>
            {{ form.lastname.label(class="text-control") }} <br>
            {{ form.lastname(class="form-input", placeholder="Last name") }}
            <br>
            {{ form.username.label(class="text-control") }} <br>
            {{ form.username(class="form-input", placeholder="Username") }}
            <br>
            {{ form.email.label(class="text-control") }} <br>
            {{ form.email(class="form-input", placeholder="Email") }}
            <br>
            {{ form.password1.label(class="text-control") }} <br>
            {{ form.password1(class="form-input", placeholder="Password") }}
            {% for error in form.password1.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.password2.label(class="text-control") }} <br>
            {{ form.password2(class="form-input", placeholder="Repeat password") }}
            {% for error in form.password2.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            <br>
            <div class="button-place">
              {{ form.submit(class="submit-form", placeholder="Register account") }}
            </div>
          </form>
         </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var items = document.querySelectorAll('.list-group-item');
        items.forEach(function(item) {
          item.addEventListener('click', function() {
            items.forEach(function(item) {
              item.classList.remove('active');
            });
            this.classList.add('active');
          });
        });
      });
    </script>
    
    
    
    
    
</body>


</html>