{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block head %}
{{ super() }}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="container register-page">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="text-center">
            <h1 class="mb-3">Create an account</h1>
            <p> We are so happy that you want to join us!!</p>
            </div>

          <form class="forms docform" method="POST">
            {{ form.csrf_token }}
            {{ form.firstname.label(class="text-control") }} <br>
            {{ form.firstname(class="form-input", placeholder="First name") }}
            <br>
            {{ form.lastname.label(class="text-control") }} <br>
            {{ form.lastname(class="form-input", placeholder="Last name") }}
            <br>
            {{ form.username.label(class="text-control") }} <br>
            {{ form.username(class="form-input", placeholder="Username") }}
            <br>
            {{ form.email.label(class="text-control") }} <br>
            {{ form.email(class="form-input", placeholder="Email") }}
            <br>
            {{ form.password1.label(class="text-control") }} <br>
            {{ form.password1(class="form-input", placeholder="Password") }}
            {% for error in form.password1.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.password2.label(class="text-control") }} <br>
            {{ form.password2(class="form-input", placeholder="Repeat password") }}
            {% for error in form.password2.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            <br>
            <div class="button-place">
              {{ form.submit(class="submit-form", placeholder="Register account") }}
            </div>
          </form>
         </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}