{% extends "layout.html" %}

{% block title %}User info{% endblock %}

{% block head %}
{{ super() }}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert" role="alert">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="container register-page">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="text-center">
            <h1 class="mb-3">{{title}}</h1>
            </div>
            <br>
            <h5>Fornavn: {{user.firstname}}</h5>
            <h5>Etternavn:  {{user.lastname}}</h5>
            <h5>Brukernavn:  {{user.username}}</h5>
            <h5>Epost:      {{user.email}}</h5>

                    <form action="{{ url_for('updateuser') }}" method="GET">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="button-place" type="login">Redigere</button>
                    </form>

                    <form action="{{ url_for('updatepassword') }}" method="GET">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="button-place" type="login">Endre passord</button>
                    </form>

                    <h5>Statistics</h5>
                    <style>
                        table, th, td {
                            border: 1px solid black;
                        }
                    </style>
                    <body>


                    <table style="width:50%">
                        <tr>
                            <th><p>0</p>
                                <p>Day streak</p></th>
                            <th><p>{{ total_points }}</p>
                                <p>Total score</p></th>

                        </tr>

                        <tr>
                            <th><p>0</p>
                                <p>Current level</p></th>
                            <th><p>0</p>
                                <p>Top 3</p></th>

                        </tr>

                        </tr>


                    <form action="{{ url_for('updateuser') }}" method="GET">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="button-place" type="login">Redigere</button>
                    </form>

                        </table>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}